body{
	background: url('img/bg.jpg');
	margin: 0;
	padding: 0;
	font-family: verdana;
}

#wrapper{
	width: 1200px;
	background: #ccc;
	margin: 0px auto;
	padding-bottom: 20px;
}

.clearfix{
	overflow: auto;
}

.center{
	text-align: center;
}

#heroes a{
	text-decoration: none;
}

.hero{
	display: block;
	width: 300px;
	height: 500px;
	float: left;

	color: #fff;
	text-shadow: 0 0 1px #000, 0 0 10px #000;
}

.hero .name, 
.hero .class, 
.hero .xp,
.hero .player{
	text-align: center;
}

.hero .name{
	font-size: 18px;
	padding-top: 225px;
}

.hero .class{
	font-size: 16px;
}

.hero .xp{
	font-size: 28px;
}

.hero .xp .xp-label{
	font-size: 20px;
}

.hero .player{
	font-size: 28px;
	padding-top: 80px;
	text-transform: uppercase;
}

.gold{
	display: block;
	width: 110px;
	height: 85px;
	background: url('img/bg_gold.png') no-repeat center;
	color: #fff;
	margin: 0 auto;
	position: relative;
	top: -55px;
	text-align: center;
	padding-top: 30px;
}

.gold-amount{
	font-size: 28px;
}

.gold-label{
	font-size: 16px;
	line-height: 6px;
}

.campaign-phase{
	margin-bottom: 20px;
}

.phase-column{
	display: block;
	width: 298px;
	height: 400px;
	background: #ddd;
	float: left;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: relative;
}

.phase-column .v-center{
	padding-top: 32px;
}

.travel-step{
	height: 80px;
	padding: 10px;
	padding-left: 60px;
}

.travel-event{
	font-size: 12px;
	font-style: italic;
	margin-bottom: 7px;
	font-weight: 600;
}

.travel-outcome{
	font-size: 12px;
}

.quest, .save-left-column{
	text-align: center;
	color: #ccc;
	text-shadow: 0 0 1px #000, 0 0 10px #000;
}

.quest-name{
	font-size: 18px;
	padding-top: 175px;
}

.quest-winner{
	font-size: 24px;
}

.quest-reward{
	margin-top: 100px;
	font-size: 18px;
}

.quest-reward .label{
	font-size: 14px;
}

.hero-mini{
	width: 30px;
	height: 30px;
}

.items{
	float: left;
	margin: 0 5px 0;
}

.item{
	margin-top: 3px;
}

.relic{
	margin-bottom: 3px;
}

.item-name{
	text-align: center;
	width: 213px; 
	margin-top: 5px;
}

.item-xp{
	font-size: 16px;
	width: 25px;
	margin-top: 5px;
}

.items .xp-label{
	font-size: 12px;
}

.campaigns-overview{
	color: #333;
}

.campaigns-overview h1{
	margin: 0px;
	padding: 15px 0 0;
}

.campaigns-overview .subtitle{
	margin-bottom: 20px;
}

.campaigns-overview h2{
	margin: 0;
}

#campaigns-overview .campaigns-overview-campaign{
	display: block;
	width: 500px;
	float: left;
	padding: 20px 50px;
}


#campaigns-overview .campaigns-overview-campaign .timestamp{
	margin-bottom: 10px;
	color: #666;
}

#campaigns-overview .hero{
	display: block;
	width: 98px;
	height: 200px;
	float: left;
	position: relative;
	margin: 1px;

	color: #fff;
	text-shadow: 0 0 1px #000, 0 0 10px #000;
}

#campaigns-overview .hero .name, 
#campaigns-overview .hero .class, 
#campaigns-overview .hero .player{
	text-align: center;
}

#campaigns-overview .hero .name{
	font-size: 12px;
	padding-top: 75px;
}

#campaigns-overview .hero .class{
	font-size: 10px;
}

#campaigns-overview .hero .player{
	font-size: 18px;
	text-transform: uppercase;
	position: absolute;
	bottom: 20px;
	text-align: center;
   	width: 100%;
}

#campaigns-overview a{
	text-decoration: none;
	color: #333;
}

.half-block{
	width: 50%;
	float: left;
}

.half-block a, .half-block img{
	display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 200px;
}

.column-title{
	font-weight: bold;
}


.relics{
	position: absolute;
	bottom: 0;
}

.buttons{
	margin: 0 auto;
	margin-bottom: 10px;
	width: 380px;
}

.button{
	float: left;
	width: 180px;
	margin: 0 5px;
	height: 30px;
}

.subbutton{
	width: 180px;
	margin: 0 auto;
	height: 30px;
}

.button .title, .subbutton .title{
	display: block;
	height: 25px;
	width: 180px;
	border: 1px solid #999;
	color: #999;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-decoration: none;

	padding-top: 2px;
	margin: 0;
}

.button .title:hover, .subbutton .title:hover{
	background: #999;
	color: #666;
	border: 1px solid #666;
}


#start-quest-form, #start-rumor-form{
	display: none;
}

#start-quest-form, #start-rumor-form{
	margin: 0 auto;
	padding: 0 20px;
	width: 340px;
}

/* --------------------- */
/* -- Quest Save Page -- */
/* --------------------- */

.save-left-column{
	display: block;
	width: 300px;
	height: 400px;
	background: #ddd;
	float: left;
	position: relative;
}

.save-right-column{
	display: block;
	width: 860px;
	min-height: 380px;
	background: #ddd;
	float: left;
	position: relative;
	padding: 10px 20px;
}

.list-checkbox{
	width: 210px;
	float: left;
}

.list-checkbox input{
	margin: 10px 10px 0;
	float: left;
}

.list-checkbox div{
	float: left;
}

.list-checkbox .search-gold{
	font-style: italic;
	font-size: 12px;
}

#select-item{
	display: none;
}

.select-hero{
	width: 150px;
	float: left;
}

.select-hero input[type=checkbox]{
	margin: 0 65px;
}

.select-hero-image{
	display: block;
	width: 148px;
	height: 250px;
	float: left;
	position: relative;
	margin: 1px;

	color: #fff;
	text-shadow: 0 0 1px #000, 0 0 10px #000;
}

.select-hero-image .hero-name{
	text-align: center;
	font-size: 12px;
	padding-top: 75px;
}

.hero-select{
	width: 300px;
	float: left;
}

.hero-select img{
	width: 300px;
	height: 500px;
}
/*
#heroselect input[type=checkbox]{
display:none;
}
 
#heroselect input[type=checkbox] + label{
height: 200px;
width: 100px;
display:inline-block;
padding: 0 0 0 0px;
}
#heroselect input[type=checkbox]:checked + label{
height: 200px;
width: 100px;
display:inline-block;
padding: 0 0 0 0px;
}

*/



#save-heroes-form select, #set-heroes-form select{
	width: 300px;
	height: 30px;
	font-size: 18px;
	text-align: center;
}

#save-heroes-form input, #set-heroes-form input{
	background-color: #666;
	border: none;
	border-bottom: 5px solid #333;
	color: #fff;
	font-size: 18px;
	width: 300px;
	height: 40px;
	text-align: center;
	margin-left: 450px;
	margin-top: 20px;
}

#save-heroes-form input:hover, #set-heroes-form input:hover{
	background-color: #333;
	border: none;
	border-bottom: 5px solid #111;
	color: #fff;
}

.error{
	padding: 20px 10px 0px;
	color: red;
	font-style: italic;
	text-align: center;
}