body{
	background: url('img/bg.jpg');
	margin: 0;
	padding: 0;
	font-family: verdana;
}

#wrapper{
	width: 1200px;
	background: #ccc;
	margin: 0px auto;
	padding-bottom: 20px;
}

.clearfix{
	overflow: auto;
}

.center{
	text-align: center;
}

#heroes a{
	text-decoration: none;
}

.hero{
	display: block;
	width: 300px;
	height: 500px;
	float: left;

	color: #fff;
	text-shadow: 0 0 1px #000, 0 0 10px #000;
}

.hero .name, 
.hero .class, 
.hero .xp,
.hero .player{
	text-align: center;
}

.hero .name{
	font-size: 18px;
	padding-top: 225px;
}

.hero .class{
	font-size: 16px;
}

.hero .xp{
	font-size: 28px;
}

.hero .xp .xp-label{
	font-size: 20px;
}

.hero .player{
	font-size: 28px;
	padding-top: 80px;
	text-transform: uppercase;
}

.gold{
	display: block;
	width: 110px;
	height: 85px;
	background: url('img/bg_gold.png') no-repeat center;
	color: #fff;
	margin: 0 auto;
	position: relative;
	top: -55px;
	text-align: center;
	padding-top: 30px;
}

.gold-amount{
	font-size: 28px;
}

.gold-label{
	font-size: 16px;
	line-height: 6px;
}

.campaign-phase{
	margin-bottom: 20px;
}

.phase-column{
	display: block;
	width: 298px;
	height: 400px;
	background: #ddd;
	float: left;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: relative;
}

.phase-column .v-center{
	padding-top: 32px;
}

.travel-step{
	height: 80px;
	padding: 10px;
	padding-left: 60px;
}

.travel-event{
	font-size: 12px;
	font-style: italic;
	margin-bottom: 7px;
	font-weight: 600;
}

.travel-outcome{
	font-size: 12px;
}

.quest{
	text-align: center;
	color: #ccc;
	text-shadow: 0 0 1px #000, 0 0 10px #000;
}

.quest-name{
	font-size: 18px;
	padding-top: 175px;
}

.quest-winner{
	font-size: 24px;
}

.quest-reward{
	margin-top: 100px;
	font-size: 18px;
}

.quest-reward .label{
	font-size: 14px;
}

.hero-mini{
	width: 30px;
	height: 30px;
}

.items{
	float: left;
	margin: 0 5px 0;
}

.item{
	margin-top: 3px;
}

.relic{
	margin-bottom: 3px;
}

.item-name{
	text-align: center;
	width: 203px; /* FIX ME: When - is removed from skill costs set me back to 213 */
	margin-top: 5px;
}

.item-xp{
	font-size: 16px;
	width: 35px; /* FIX ME: When - is removed from skill costs set me back to 25 */
	margin-top: 5px;
}

.items .xp-label{
	font-size: 12px;
}

.campaigns-overview{
	color: #333;
}

.campaigns-overview h1{
	margin: 0px;
	padding: 15px 0 0;
}

.campaigns-overview .subtitle{
	margin-bottom: 20px;
}

.campaigns-overview h2{
	margin: 0;
}

#campaigns-overview .campaigns-overview-campaign{
	display: block;
	width: 500px;
	float: left;
	padding: 20px 50px;
}


#campaigns-overview .campaigns-overview-campaign .timestamp{
	margin-bottom: 10px;
	color: #666;
}

#campaigns-overview .hero{
	display: block;
	width: 98px;
	height: 200px;
	float: left;
	position: relative;
	margin: 1px;

	color: #fff;
	text-shadow: 0 0 1px #000, 0 0 10px #000;
}

#campaigns-overview .hero .name, 
#campaigns-overview .hero .class, 
#campaigns-overview .hero .player{
	text-align: center;
}

#campaigns-overview .hero .name{
	font-size: 12px;
	padding-top: 75px;
}

#campaigns-overview .hero .class{
	font-size: 10px;
}

#campaigns-overview .hero .player{
	font-size: 18px;
	text-transform: uppercase;
	position: absolute;
	bottom: 20px;
	text-align: center;
   	width: 100%;
}

#campaigns-overview a{
	text-decoration: none;
	color: #333;
}

.half-block{
	width: 50%;
	float: left;
}

.half-block a, .half-block img{
	display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 200px;
}

.column-title{
	font-weight: bold;
}


.relics{
	position: absolute;
	bottom: 0;
}