/* ------------ */
/* -- GLOBAL -- */
/* ------------ */
/* line 11, content.scss */
body {
  background: url("img/bg.jpg");
  margin: 0;
  padding: 0;
  font-family: verdana;
}

/* line 18, content.scss */
#wrapper {
  border-top: 5px solid #333;
  width: 1200px;
  background: #dddddd;
  margin: 0px auto;
  padding-bottom: 20px;
}

/* line 26, content.scss */
.clearfix {
  overflow: auto;
  clear: both;
}

/* line 31, content.scss */
.center {
  text-align: center;
}

/* ------------ */
/* -- Header -- */
/* ------------ */
/* line 39, content.scss */
#toolbar {
  background: #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0);
  font-family: Arial,Verdana,sans-serif;
  height: 40px;
  position: relative;
  z-index: 999;
}

/* line 48, content.scss */
#header {
  width: 1400px;
  height: 500px;
  background: url("img/descentbanner.png") no-repeat center;
  margin: 0px auto;
  margin-bottom: -50px;
}

/* ------------- */
/* -- CONTENT -- */
/* ------------- */
/* -- CAMPAIGN OVERVIEW -- */
/* line 65, content.scss */
#campaign .campaign-phase {
  margin-bottom: 20px;
}
/* line 68, content.scss */
#campaign .campaign-phase .phase-column {
  display: block;
  width: 298px;
  height: 400px;
  background: #f9f9f9;
  float: left;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  position: relative;
  /* travel */
  /* quest */
}
/* line 79, content.scss */
#campaign .campaign-phase .phase-column .v-center {
  padding-top: 32px;
}
/* line 84, content.scss */
#campaign .campaign-phase .phase-column.travel {
  background: url("img/travel.jpg") center no-repeat #f9f9f9;
  overflow: auto;
}
/* line 87, content.scss */
#campaign .campaign-phase .phase-column.travel .travel-step {
  width: 228px;
  padding: 10px;
  padding-left: 60px;
  display: table;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #eee;
}
/* line 96, content.scss */
#campaign .campaign-phase .phase-column.travel .travel-child {
  display: table-cell;
  vertical-align: middle;
}
/* line 101, content.scss */
#campaign .campaign-phase .phase-column.travel .travel-event {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 3px;
  font-weight: 600;
}
/* line 108, content.scss */
#campaign .campaign-phase .phase-column.travel .travel-outcome {
  font-size: 10px;
}
/* line 115, content.scss */
#campaign .campaign-phase .phase-column.quest {
  text-align: center;
  color: #ccc;
  text-shadow: 0 0 1px #000, 0 0 10px #000;
}
/* line 120, content.scss */
#campaign .campaign-phase .phase-column.quest .quest-name {
  font-size: 18px;
  padding-top: 175px;
}
/* line 125, content.scss */
#campaign .campaign-phase .phase-column.quest .quest-winner {
  font-size: 24px;
}
/* line 129, content.scss */
#campaign .campaign-phase .phase-column.quest .quest-reward {
  margin-top: 100px;
  font-size: 18px;
}
/* line 134, content.scss */
#campaign .campaign-phase .phase-column.quest .quest-reward .label {
  font-size: 14px;
}
/* line 140, content.scss */
#campaign .campaign-phase .phase-column.spend-xp {
  background: url("img/skills.jpg") center no-repeat #f9f9f9;
}
/* line 144, content.scss */
#campaign .campaign-phase .phase-column.buy-items {
  background: url("img/trade.jpg") center no-repeat #f9f9f9;
}
/* line 152, content.scss */
#campaign .details-bar {
  width: 100%;
}
/* line 156, content.scss */
#campaign .details-bar .add-details {
  text-decoration: none;
  color: #fff;
  float: left;
}
/* line 164, content.scss */
#campaign .details-bar .add-details.set .add-label, #campaign .details-bar .add-details.setting .add-label {
  background-color: #06a2cb;
}
/* line 170, content.scss */
#campaign .details-bar .add-details .add-label {
  width: 278px;
  height: 20px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 5px 10px;
  background-color: #ccc;
  text-align: center;
}

/* line 186, content.scss */
.hero-mini {
  width: 30px;
  height: 30px;
  margin: 5px;
}

/* skills & items*/
/* line 193, content.scss */
.skill, .item {
  background: #f9f9f9;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #eee;
}
/* line 197, content.scss */
.skill .field, .item .field {
  float: left;
}
/* line 200, content.scss */
.skill .hero-mini.trade, .item .hero-mini.trade {
  float: right;
}
/* line 204, content.scss */
.skill .skill-name, .skill .item-name, .item .skill-name, .item .item-name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}
/* line 210, content.scss */
.skill .skill-xp, .skill .item-price, .item .skill-xp, .item .item-price {
  float: right;
  width: 30px;
  height: 24px;
  padding-top: 6px;
  margin: 5px;
  background-color: #dd1e2f;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
/* line 225, content.scss */
.skill .skill-xp-label, .item .skill-xp-label {
  font-size: 8px;
}
/* line 230, content.scss */
.skill .item-price.buy.override, .skill .item-price.override, .item .item-price.buy.override, .item .item-price.override {
  background-color: #ebb035;
}
/* line 233, content.scss */
.skill .item-price.buy, .item .item-price.buy {
  background-color: #dd1e2f;
}
/* line 236, content.scss */
.skill .item-price.sell, .item .item-price.sell {
  background-color: #218559;
}
/* line 239, content.scss */
.skill .item-price.relic, .item .item-price.relic {
  background-color: #06a2cb;
  font-size: 10px;
  height: 23px;
  padding-top: 7px;
}
/* line 249, content.scss */
.skill .skill-xp.starter, .item .skill-xp.starter {
  background-color: #06a2cb;
  font-size: 10px;
  height: 23px;
  padding-top: 7px;
}

/* -- HERO DETAIL -- */
/* line 261, content.scss */
.column {
  display: block;
  width: 298px;
  background: #f9f9f9;
  float: left;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  position: relative;
}

/* -- STATS -- */
/* line 277, content.scss */
.statsbar-text {
  color: #fff;
  padding: 0 15px;
}

/* line 282, content.scss */
.statsbar-left {
  display: block;
  height: 25px;
  float: left;
  background-color: #218559;
  padding: 7px 0;
  border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
}

/* line 294, content.scss */
.statsbar-right {
  display: block;
  height: 25px;
  float: right;
  background-color: #dd1e2f;
  padding: 7px 0;
  border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -webkit-border-radius: 0 30px 30px 0;
  text-align: right;
}

/* line 307, content.scss */
.quest-stats {
  margin: 0 auto;
  width: 80%;
}
/* line 311, content.scss */
.quest-stats h2 {
  text-align: center;
  margin: 20px 0 10px;
}

/* line 318, content.scss */
.inner {
  padding: 0 30px;
}

/* line 322, content.scss */
#heroes a {
  text-decoration: none;
}

/* line 326, content.scss */
.hero {
  display: block;
  width: 300px;
  height: 500px;
  float: left;
  color: #fff;
  text-shadow: 0 0 1px #000, 0 0 10px #000;
}

/* line 339, content.scss */
.hero .name,
.hero .class,
.hero .xp,
.hero .player {
  text-align: center;
}

/* line 343, content.scss */
.hero .name {
  font-size: 18px;
  padding-top: 225px;
}

/* line 348, content.scss */
.hero .class {
  font-size: 16px;
}

/* line 352, content.scss */
.hero .xp {
  font-size: 28px;
}

/* line 356, content.scss */
.hero .xp .xp-label {
  font-size: 20px;
}

/* line 360, content.scss */
.hero .player {
  font-size: 28px;
  padding-top: 80px;
  text-transform: uppercase;
}

/* line 366, content.scss */
.gold {
  display: block;
  width: 110px;
  height: 85px;
  background: url("img/bg_gold.png") no-repeat center;
  color: #fff;
  margin: 0 auto;
  position: relative;
  top: -55px;
  text-align: center;
  padding-top: 30px;
}

/* line 379, content.scss */
.gold-amount {
  font-size: 28px;
}

/* line 383, content.scss */
.gold-label {
  font-size: 16px;
  line-height: 6px;
}

/* line 390, content.scss */
.save-left-column {
  text-align: center;
  color: #ccc;
  text-shadow: 0 0 1px #000, 0 0 10px #000;
}

/* line 396, content.scss */
.relic {
  margin-bottom: 3px;
}

/* line 400, content.scss */
.campaigns-overview {
  color: #333;
}

/* line 404, content.scss */
.campaigns-overview h1 {
  margin: 0px;
  padding: 15px 0 0;
}

/* line 409, content.scss */
.campaigns-overview .subtitle {
  margin-bottom: 20px;
}

/* line 413, content.scss */
.campaigns-overview h2 {
  margin: 0;
}

/* line 417, content.scss */
#campaigns-overview .campaigns-overview-campaign {
  display: block;
  width: 500px;
  float: left;
  padding: 20px 50px;
}

/* line 425, content.scss */
#campaigns-overview .campaigns-overview-campaign .timestamp {
  margin-bottom: 10px;
  color: #666;
}

/* line 430, content.scss */
#campaigns-overview .hero {
  display: block;
  width: 98px;
  height: 200px;
  float: left;
  position: relative;
  margin: 1px;
  color: #fff;
  text-shadow: 0 0 1px #000, 0 0 10px #000;
}

/* line 444, content.scss */
#campaigns-overview .hero .name,
#campaigns-overview .hero .class,
#campaigns-overview .hero .player {
  text-align: center;
}

/* line 448, content.scss */
#campaigns-overview .hero .name {
  font-size: 12px;
  padding-top: 75px;
}

/* line 453, content.scss */
#campaigns-overview .hero .class {
  font-size: 10px;
}

/* line 457, content.scss */
#campaigns-overview .hero .player {
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

/* line 466, content.scss */
#campaigns-overview a {
  text-decoration: none;
  color: #333;
}

/* line 471, content.scss */
.half-block {
  width: 50%;
  float: left;
}

/* line 476, content.scss */
.half-block a, .half-block img {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 200px;
}

/* line 484, content.scss */
.column-title {
  font-weight: bold;
}

/* line 489, content.scss */
.relics {
  position: absolute;
  bottom: 0;
}

/* line 494, content.scss */
.buttons {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 380px;
}

/* line 500, content.scss */
.button {
  float: left;
  width: 180px;
  margin: 0 5px;
  height: 30px;
}

/* line 507, content.scss */
.subbutton {
  width: 180px;
  margin: 0 auto;
  height: 30px;
}

/* line 513, content.scss */
.button .title, .subbutton .title {
  display: block;
  height: 25px;
  width: 180px;
  border: 1px solid #999;
  color: #999;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  padding-top: 2px;
  margin: 0;
}

/* line 528, content.scss */
.button .title:hover, .subbutton .title:hover {
  background: #999;
  color: #666;
  border: 1px solid #666;
}

/* line 535, content.scss */
#start-quest-form, #start-rumor-form {
  display: none;
}

/* line 539, content.scss */
#start-quest-form, #start-rumor-form {
  margin: 0 auto;
  padding: 0 20px;
  width: 300px;
}

/* --------------------- */
/* -- Quest Save Page -- */
/* --------------------- */
/* line 549, content.scss */
.save-left-column {
  display: block;
  width: 300px;
  height: 400px;
  background: #ddd;
  float: left;
  position: relative;
}

/* line 558, content.scss */
.save-back-column {
  float: left;
}

/* line 562, content.scss */
.save-right-column {
  display: block;
  width: 860px;
  min-height: 380px;
  background: #ddd;
  float: right;
  position: relative;
  padding: 10px 20px;
}

/* line 572, content.scss */
.buy-column {
  display: block;
  width: 280px;
  height: 210px;
  float: left;
  position: relative;
}

/* line 580, content.scss */
.buy-column.even {
  margin: 0 10px;
}

/* line 584, content.scss */
.buy-column select, .buy-column input[type="submit"] {
  width: 280px;
}

/* line 588, content.scss */
.buy-column input[type="submit"] {
  position: absolute;
  bottom: 0;
}

/* line 593, content.scss */
.list-checkbox {
  width: 210px;
  float: left;
}

/* line 598, content.scss */
.list-checkbox input {
  margin: 10px 10px 0;
  float: left;
}

/* line 603, content.scss */
.list-checkbox div {
  float: left;
}

/* line 607, content.scss */
.list-checkbox .search-gold {
  font-style: italic;
  font-size: 12px;
}

/* line 612, content.scss */
#select-item {
  display: none;
}

/* line 616, content.scss */
.select-hero {
  width: 150px;
  float: left;
}

/* line 621, content.scss */
.select-hero input[type=checkbox] {
  margin: 0 65px;
}

/* line 625, content.scss */
.select-hero-image {
  display: block;
  width: 148px;
  height: 250px;
  float: left;
  position: relative;
  margin: 1px;
  color: #fff;
  text-shadow: 0 0 1px #000, 0 0 10px #000;
}

/* line 637, content.scss */
.select-hero-image .hero-name {
  text-align: center;
  font-size: 12px;
  padding-top: 75px;
}

/* line 643, content.scss */
.hero-select {
  width: 300px;
  float: left;
}

/* line 648, content.scss */
.hero-select img {
  width: 300px;
  height: 500px;
}

/*
#heroselect input[type=checkbox]{
display:none;
}
 
#heroselect input[type=checkbox] + label{
height: 200px;
width: 100px;
display:inline-block;
padding: 0 0 0 0px;
}
#heroselect input[type=checkbox]:checked + label{
height: 200px;
width: 100px;
display:inline-block;
padding: 0 0 0 0px;
}

*/
/* line 672, content.scss */
input[type="submit"], a.normal-button {
  background-color: #666;
  border: none;
  border-bottom: 5px solid #333;
  color: #fff;
  font-size: 18px;
  width: 300px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
}

/* line 684, content.scss */
a.normal-button {
  margin-top: 0;
  display: block;
  text-decoration: none;
  height: 33px;
  padding-top: 7px;
}

/* line 692, content.scss */
.save-back-column a.normal-button {
  background-color: #333;
  border-bottom: 5px solid #111;
}

/* line 697, content.scss */
.save-back-column a.normal-button:hover {
  background-color: #666;
  border-bottom: 5px solid #333;
}

/* line 702, content.scss */
input[type="submit"]:hover, a.normal-button:hover {
  background-color: #333;
  border: none;
  border-bottom: 5px solid #111;
  color: #fff;
}

/* line 709, content.scss */
select {
  width: 300px;
  height: 30px;
  font-size: 18px;
  text-align: center;
}

/* line 716, content.scss */
#save-heroes-form input, #set-heroes-form input {
  margin-left: 450px;
}

/* line 720, content.scss */
#travel-details-form input {
  margin-left: 60px;
}

/* line 724, content.scss */
.error {
  padding: 20px 10px 0px;
  color: red;
  font-style: italic;
  text-align: center;
}

/* line 732, content.scss */
#travel-details-form .travel-step {
  height: auto;
}
